.menu__list{
	@include reset-list;
	display: flex;
	flex-wrap: wrap;
	gap: 42px;
}

.menu__link {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	min-height: 60px;
	display: flex;
	align-items: center;
	color: var(--main-color);
	text-decoration: none;
	text-transform: uppercase;
}