.menu__list{
	@include reset-list;
	display: flex;
	flex-wrap: wrap;
	gap: 42px;
}

.menu__link {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	min-height: 60px;
	display: flex;
	align-items: center;
	color: var(--main-color);
	text-decoration: none;
	text-transform: uppercase;
}

.menu__link::before,
.menu__link::after {
	content: "";
	width: 2px;
	height: 50%;
	display: inline-block;
	visibility: hidden;
	position: absolute;
	top: 50%;
	transform: scaleY(0) skewX(0deg) translateY(-50%);
	background-color: var(--main-color);
	transition: transform 0.3s ease-out;
}

.menu__link::before {
	left: -20px;
}

.menu__link::after {
	right: -10px;
}

.menu__item:hover > .menu__link::before,
.menu__item:hover > .menu__link::after {
	visibility: visible;
	transform: scaleY(1) skewX(-17deg) translateY(-50%);
}